@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo-principal: #f1f1f1;
    --cor-fundo-secundario: #D7D7D7;
    --cor-fonte-principal: #1e2125;
    --cor-fonte-secundaria: #F7F7F7;
}

body {
    background-color: var(--cor-fundo-principal);
    box-sizing: border-box;
    font-family: "Inter";
}

.cabecalho { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 24px;
}

.cabecalho_menu_link {
    text-decoration: none;
    color: var(--cor-fonte-principal);
    justify-content: space-between;
}

.cabecalho_menu_titulo {
    color: var(--cor-fonte-principal);
}

.banner {
    color: var(--cor-fonte-secundaria);
    background-color: var(--cor-fundo-secundario);
    text-align: center;
    padding: 60px 20px;
}

.banner_titulo {
    font-size: 48px;
    font-weight: 600;
}

.main_titulo {
    padding: 16px 15%;
    font-size: 28px; 
}

.produtos_container {
 
}

.produto_card {

}

.produto_card_imagem {

}

.produto_card_titulo {

}

.produto_card_preco {
    
}